# Created by .ignore support plugin (hsz.mobi)
### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


#my stuff
*.db
*.cfg
*.bat
*.cmd
